LHEtoAOD/CMSSW_*/.SCRAM
LHEtoAOD/CMSSW_*/config
LHEtoAOD/CMSSW_*/lib
LHEtoAOD/CMSSW_*/bin
LHEtoAOD/CMSSW_*/test
LHEtoAOD/CMSSW_*/logs
LHEtoAOD/CMSSW_*/objs
LHEtoAOD/CMSSW_*/biglib
LHEtoAOD/CMSSW_*/cfipython
LHEtoAOD/CMSSW_*/include
LHEtoAOD/CMSSW_*/doc
LHEtoAOD/CMSSW_*/python
LHEtoAOD/CMSSW_*/tmp
LHEtoAOD/CMSSW_*/external
LHEtoAOD/CMSSW_*/src/Configuration/
LHEtoAOD/CMSSW_*/src/cfg_*.py
SLHAtoLHE
LHEtoAOD/condor/condor_output_dummy
LHEtoAOD/condor/tarball_signal-production.tar.gz
LHEtoAOD/condor/logs/
GRIDPACKtoLHE/CMSSW_*/
GRIDPACKtoLHE/condor/condor_output_dummy
GRIDPACKtoLHE/condor/logs/
